*, *::before, *::after {
	box-sizing: border-box;
	font-family: 'Montserrat';
}

body {
	padding: 0;
	margin: 0;
	background: linear-gradient(to right, #78ff78, #7979ff);
	display: flex;
	flex-direction: column;
}

.header {
	width: 400px;
	align-self: center;
	text-align: center;
}

.btn {
	margin-top: 30px;
	border: none;
	background: none;
	font-size: 30px;
	font-weight: bold;
}

.btn:hover {
	cursor: pointer;
	color: #5eff00;
	transition: .8s ease;
}

.btn::after {
	content: "";
	height: 2px;
	width: 0%;
	background-color: #3700ff;
	display: block;
	transition: .5s ease;	
}

.btn:hover::after {
	content: "";
	height: 2px;
	width: 100%;
	background-color: #5eff00;
	display: block;
}

.calculator-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(4, 70px);
	grid-template-rows: minmax(120px, auto) repeat(5, auto);
}

.calculator-grid > button {
	cursor: pointer;
	background-color: #ffffffbf;
	border: none;
	margin: 1px;
	height: 50px;
	font-size: large;
	font-weight: bolder;
}

.calculator-grid > button:hover {
	background-color: #ffffffe6;
}

.span-2 {
	grid-column: span 2;
}

.display {
	grid-column: -1 / 1;
	background-color: #000000a1 ;
}

.display > .first-row {
	height: 40px;
	padding: 5px;
	text-align: end;
	line-height: 40px;
	color: #ffffffbf;
}

.display > .second-row {
	padding: 5px;
	text-align: end;
	line-height: 60px;
	color: #ffffffe6;
	font-size: 40px;
	word-wrap: break-word;
}
