*, *::before, *::after {
	box-sizing: border-box;
	font-family: 'Montserrat';
}

body {
	padding: 0;
	margin: 0;
	background: linear-gradient(to right, #00c3ffbd, #ffaaaaa9);
	display: flex;
	flex-direction: column;
}

.header {
	width: 400px;
	align-self: center;
	text-align: center;
}

.link {
	display: inline-block;
	align-self: center;
	width: max-content;
	padding-top: 30px;
	text-decoration: none;
	color: #000000;
	font-size: 30px;
	font-weight: bold;
}

.link:hover {
	cursor: pointer;
	color: #0077ff;
	transition: .8s;
}

.link::after {
	content: "";
	height: 2px;
	width: 0%;
	background: linear-gradient(to right, #b8cc00 , #0077ff);
	display: block;
	transition: .5s ease;	
}

.link:hover::after {
	content: "";
	height: 2px;
	width: 100%;
	display: block;
}

.calculator-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(4, 70px);
	grid-template-rows: minmax(120px, auto) repeat(5, auto);
}

.calculator-grid > .display {
	margin: 3px;
	color: #000000b4;
	border-radius: 7px;
}

.calculator-grid > button {
	margin: 3px;
	cursor: pointer;
	height: 50px;
	font-size: large;
	font-weight: bolder;
	border: none;
	border-radius: 7px;
	background: #ffffff;
	box-shadow:	2px 2px 4px #ffffffa1;
}

.calculator-grid > button:hover {
	background-color: #ffffff6b;
}

.span-2 {
	grid-column: span 2;
}

.display {
	grid-column: -1 / 1;
	background-color: #000000a1 ;
}

.display > .first-row {
	height: 40px;
	padding: 5px;
	text-align: end;
	line-height: 40px;
	color: #ffffffbf;
}

.display > .second-row {
	padding: 5px;
	text-align: end;
	line-height: 60px;
	color: #ffffffe6;
	font-size: 40px;
	word-wrap: break-word;
}
